<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url"> jdbc:mysql://localhost:3306/iput</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123456</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		
		<mapping class="com.mfu.entity.Article" />
		<mapping class="com.mfu.entity.ArticleType" />
		<mapping class="com.mfu.entity.WorkType" />
		<mapping class="com.mfu.entity.File" />
		<mapping class="com.mfu.entity.FundProject" />
		<mapping class="com.mfu.entity.FundType" />
		<mapping class="com.mfu.entity.Role" />
		<mapping class="com.mfu.entity.User" />
		<mapping class="com.mfu.entity.TrainingType" />
		<mapping class="com.mfu.entity.TrainingProject" />
		<mapping class="com.mfu.entity.Album" />
		<mapping class="com.mfu.entity.Image" />
		<mapping class="com.mfu.entity.SAR" />
		<mapping class="com.mfu.entity.Classroom" />
		<mapping class="com.mfu.entity.Schedule" />
		<mapping class="com.mfu.entity.GeneralDetailClassroom"/>
		<mapping class="com.mfu.entity.RegulationProfessor"/>
	</session-factory>
</hibernate-configuration> 